

.castImgAaron {
    background-image: url('/cast/01a-aaron1.png');
    background-position: center center;
}

.castImgAbe {
    background-image: url('/cast/02a-abe1.png');
    background-position: center center;
}

/* .castImgKara {
    background-image: url('/cast/06-kara.png');
    background-position: center center;
} */