* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}


.label > div
{
    min-width: 12rem;
    max-width: 20rem;
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    padding: 0.75rem;
    white-space: normal;
    overflow: hidden;
    border-radius: 10px;
    user-select: none;
}

.button-bank {
    width: 100%;
    margin: 1.25rem auto 0.25rem
}

.button-bank ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}

.button-bank li {
    list-style: none;
    height: 2rem;
    width: 2rem;
    border: 1px solid purple;
    text-align: center;
}

.button-bank li:hover {
    border: 2px solid greenyellow;
    cursor: pointer;
}

.text-window {
    position: relative;
    bottom: 2rem;
    width: fit-content;
    height: fit-content;
    padding: 0.25rem;
    margin: -4rem auto 0.25rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0.5rem
}

.text-window p {
    color: whitesmoke;
    font-size: 1.25rem;
}