* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}



.label > div
{
    font-family: Helvetica, Arial;
    position: absolute;
    background: #00000088;
    color: white;
    padding: 15px;
    white-space: normal;
    overflow: hidden;
    border-radius: 30px;
    user-select: none;
}

.button-bank {
    width: 100%;
}

.button-bank ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}

.button-bank li {
    list-style: none;
    height: 2rem;
    width: 2rem;
    border: 1px solid purple;
    text-align: center;
}

.button-bank li:hover {
    border: 2px solid greenyellow;
    cursor: pointer;
}

.text-window {
    width: 90%;
    height: 4rem;
    margin: -4rem auto 0.25rem;
    text-align: center;
}